<%= link_to '« Back', pages_path %>


<div class='page'>
	<h1><%= @page.title %></h1>
	<p><%= @page.body %></p>
	<div class='tools'>
		<%= link_to 'Edit', edit_page_path(@page) %>
	</div>
</div>

<div class='contributors'>
	<% if @page.contributors.any? %>
		<% @page.contributors.each do |user| %>
			<%= link_to user.email, user_path(user)%>
		<% end %>
	<% else %>
		<p>No contributors yet</p>
	<% end %>
</div>